In [310]:
#Kérdés1: Milyen érdekes összefüggések vannak európán belül az országok különböző mutatói között?
# Szükséges könyvtárak importálása
import numpy as np
import pandas as pd
import plotly.express as px
import statsmodels.api

In [311]:
#alapértelmezett könyvtár beállítása
import os
os.chdir("C:/Users/black/Desktop/pyproject")

In [312]:
# dataset megnyitása pandas segítségébel, és elmentése countries nevű DataFrame-be 
countries = pd.read_csv('factbook.csv',';')

In [313]:
countries.head()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40

In [314]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 45 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         264 non-null    object
 1   Area(sq km)                                     264 non-null    object
 2   Birth rate(births/1000 population)              226 non-null    object
 3   Current account balance                         150 non-null    object
 4   Death rate(deaths/1000 population)              226 non-null    object
 5   Debt - external                                 202 non-null    object
 6   Electricity - consumption(kWh)                  216 non-null    object
 7   Electricity - production(kWh)                   214 non-null    object
 8   Exports                                         225 non-null    object
 9   GDP                                             231 non-null    object
 10  GDP - per capita                                231 non-null    object
 11  GDP - real growth rate(%)                       213 non-null    object
 12  HIV/AIDS - adult prevalence rate(%)             169 non-null    object
 13  HIV/AIDS - deaths                               149 non-null    object
 14  HIV/AIDS - people living with HIV/AIDS          165 non-null    object
 15  Highways(km)                                    231 non-null    object
 16  Imports                                         225 non-null    object
 17  Industrial production growth rate(%)            165 non-null    object
 18  Infant mortality rate(deaths/1000 live births)  226 non-null    object
 19  Inflation rate (consumer prices)(%)             223 non-null    object
 20  Internet hosts                                  192 non-null    object
 21  Internet users                                  217 non-null    object
 22  Investment (gross fixed)(% of GDP)              147 non-null    object
 23  Labor force                                     215 non-null    object
 24  Life expectancy at birth(years)                 226 non-null    object
 25  Military expenditures - dollar figure           171 non-null    object
 26  Military expenditures - percent of GDP(%)       166 non-null    object
 27  Natural gas - consumption(cu m)                 109 non-null    object
 28  Natural gas - exports(cu m)                     109 non-null    object
 29  Natural gas - imports(cu m)                     109 non-null    object
 30  Natural gas - production(cu m)                  108 non-null    object
 31  Natural gas - proved reserves(cu m)             98 non-null     object
 32  Oil - consumption(bbl/day)                      213 non-null    object
 33  Oil - exports(bbl/day)                          59 non-null     object
 34  Oil - imports(bbl/day)                          47 non-null     object
 35  Oil - production(bbl/day)                       213 non-null    object
 36  Oil - proved reserves(bbl)                      98 non-null     object
 37  Population                                      239 non-null    object
 38  Public debt(% of GDP)                           109 non-null    object
 39  Railways(km)                                    135 non-null    object
 40  Reserves of foreign exchange & gold             148 non-null    object
 41  Telephones - main lines in use                  233 non-null    object
 42  Telephones - mobile cellular                    229 non-null    object
 43  Total fertility rate(children born/woman)       226 non-null    object
 44  Unemployment rate(%)                            193 non-null    object
dtypes: object(45)
memory usage: 92.9+ KB

In [315]:
#európai országokat tartalmazó csv fájl megnyitása (https://en.wikipedia.org/wiki/List_of_European_countries_by_area)
european_countries = pd.read_csv('european_countries.csv',';')

In [316]:
european_countries.head()

   Id    State
0   1   Russia
1   2  Ukraine
2   3   France
3   4    Spain
4   5   Sweden

In [317]:
european_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      51 non-null     int64
 1   State   51 non-null     object
dtypes: int64(1), object(1)
memory usage: 944.0+ bytes

In [318]:
# csak az országneveket tartalmazó oszlop megtartása 
european_countries = european_countries.loc[:,['State']]

In [319]:
# oszlop átnevezése
european_countries.columns = ['Country']

In [320]:
# adattípust tartalmazó sor törlése
countries = countries.drop([0],axis=0)

In [321]:
countries.describe()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
count,263,263,225,149,225,201,215,213,224,230,...,212,97,238,108,134,147,232,228,225,192
unique,263,252,218,149,210,188,212,208,220,228,...,94,87,237,104,133,146,222,213,166,124
top,Italy,5,16.83,203200000,6.26,0,4650000,43080000,38000000,1000000000,...,0,0,361,41.70,699,1206000000,7000,0,1.39,15.00
freq,1,5,3,1,3,5,2,2,2,2,...,114,8,2,2,2,2,3,8,6,6

In [322]:
# Létrehozok egy új DataFramet, amiben csak európai országok vannak, és a hozzátartozó adatok
european_data = pd.merge(european_countries, countries, how='inner', on='Country')

In [323]:
# Megkeresem azokat az országokat, amik nem kerültek bele az összekapcsolt DataFrame-be
european_missing = pd.concat([european_countries.Country, european_data.Country]).drop_duplicates(keep=False)

In [324]:
# Megoldom a kimaradt országok problémáját
# Nincsen a countries-ban Vatikán és Koszovó, ezért ezeket kihagyom
# Serbia és Montenegró egyben van a countries-ban, de külön az european_countries-ban
# Csehország és Macedónia nem volt egységesen elnevezve a két DF-ben.
countries['Country'] = countries['Country'].replace('Czech Republic', 'Czechia')
countries['Country'] = countries['Country'].replace('Macedonia', 'North Macedonia')
european_countries['Country'] = european_countries['Country'].replace('Serbia', 'Serbia and Montenegro')
european_countries = european_countries[european_countries['Country']!="Montenegro"]

In [325]:
# Újra
european_data = pd.merge(european_countries, countries, how='inner', on='Country')

In [326]:
european_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 45 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         48 non-null     object
 1   Area(sq km)                                     48 non-null     object
 2   Birth rate(births/1000 population)              48 non-null     object
 3   Current account balance                         43 non-null     object
 4   Death rate(deaths/1000 population)              48 non-null     object
 5   Debt - external                                 41 non-null     object
 6   Electricity - consumption(kWh)                  44 non-null     object
 7   Electricity - production(kWh)                   44 non-null     object
 8   Exports                                         46 non-null     object
 9   GDP                                             48 non-null     object
 10  GDP - per capita                                48 non-null     object
 11  GDP - real growth rate(%)                       48 non-null     object
 12  HIV/AIDS - adult prevalence rate(%)             43 non-null     object
 13  HIV/AIDS - deaths                               41 non-null     object
 14  HIV/AIDS - people living with HIV/AIDS          42 non-null     object
 15  Highways(km)                                    48 non-null     object
 16  Imports                                         46 non-null     object
 17  Industrial production growth rate(%)            44 non-null     object
 18  Infant mortality rate(deaths/1000 live births)  48 non-null     object
 19  Inflation rate (consumer prices)(%)             48 non-null     object
 20  Internet hosts                                  48 non-null     object
 21  Internet users                                  48 non-null     object
 22  Investment (gross fixed)(% of GDP)              43 non-null     object
 23  Labor force                                     48 non-null     object
 24  Life expectancy at birth(years)                 48 non-null     object
 25  Military expenditures - dollar figure           43 non-null     object
 26  Military expenditures - percent of GDP(%)       41 non-null     object
 27  Natural gas - consumption(cu m)                 40 non-null     object
 28  Natural gas - exports(cu m)                     40 non-null     object
 29  Natural gas - imports(cu m)                     40 non-null     object
 30  Natural gas - production(cu m)                  40 non-null     object
 31  Natural gas - proved reserves(cu m)             25 non-null     object
 32  Oil - consumption(bbl/day)                      44 non-null     object
 33  Oil - exports(bbl/day)                          26 non-null     object
 34  Oil - imports(bbl/day)                          25 non-null     object
 35  Oil - production(bbl/day)                       44 non-null     object
 36  Oil - proved reserves(bbl)                      25 non-null     object
 37  Population                                      48 non-null     object
 38  Public debt(% of GDP)                           37 non-null     object
 39  Railways(km)                                    41 non-null     object
 40  Reserves of foreign exchange & gold             42 non-null     object
 41  Telephones - main lines in use                  48 non-null     object
 42  Telephones - mobile cellular                    48 non-null     object
 43  Total fertility rate(children born/woman)       48 non-null     object
 44  Unemployment rate(%)                            48 non-null     object
dtypes: object(45)
memory usage: 17.2+ KB

In [327]:
# Csak a számomra érdekes oszlopok megtartása
european_data = european_data.iloc[:,[0,1,9,10,11,19,24,37,43,44]]

In [328]:
# Oszlopok nevének leegyszerűsítése
european_data.columns = ['country', 'area', 'GDP', 'GDP_percapita', 'GDP_real_gr', 'inflation', 'life_exp', 'population', 'fertility', 'unemp']

In [329]:
# Egész számadatokat tároló oszlopok int-é kovertálása
european_data['population'] = european_data['population'].astype(int)
european_data['area'] = european_data['area'].astype(int)
european_data['GDP_percapita'] = european_data['GDP_percapita'].astype(int)

In [330]:
#A GDP oszlop meghaladta az int32 értékkészletét, ezért int64-é kell konvertálni, amit az astype(int) nem tud, a pd.to_numeric pedig igen
european_data['GDP'] = pd.to_numeric(european_data['GDP'])

In [331]:
european_data['GDP_real_gr'] = european_data['GDP_real_gr'].astype(float)
european_data['inflation'] = european_data['inflation'].astype(float)
european_data['GDP_percapita'] = european_data['GDP_percapita'].astype(float)
european_data['life_exp'] = european_data['life_exp'].astype(float)
european_data['fertility'] = european_data['fertility'].astype(float)
european_data['unemp'] = european_data['unemp'].astype(float)

In [332]:
european_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        48 non-null     object
 1   area           48 non-null     int32
 2   GDP            48 non-null     int64
 3   GDP_percapita  48 non-null     float64
 4   GDP_real_gr    48 non-null     float64
 5   inflation      48 non-null     float64
 6   life_exp       48 non-null     float64
 7   population     48 non-null     int32
 8   fertility      48 non-null     float64
 9   unemp          48 non-null     float64
dtypes: float64(6), int32(2), int64(1), object(1)
memory usage: 3.8+ KB

In [333]:
#Kérdés szempontjából releváns mutatók lekérdezése
european_data.describe()

,area,GDP,GDP_percapita,GDP_real_gr,inflation,life_exp,population,fertility,unemp
count,4.800000e+01,4.800000e+01,48.000000,48.000000,48.000000,48.000000,4.800000e+01,48.000000,48.000000
mean,5.554901e+05,3.109192e+11,18938.229167,4.687500,4.133333,75.549792,1.729864e+07,1.548958,10.172917
std,2.469764e+06,5.454169e+11,12392.400790,2.935014,3.644485,4.669452,2.777772e+07,0.267425,9.114187
min,2.000000e+00,8.250000e+08,1900.000000,0.900000,0.400000,63.350000,2.888000e+04,1.190000,0.000000
25%,3.301425e+04,1.878750e+10,7625.000000,2.100000,1.750000,72.390000,2.809737e+06,1.330000,4.475000
50%,7.457300e+04,9.864500e+10,17350.000000,3.800000,2.950000,77.385000,6.441342e+06,1.445000,8.000000
75%,2.589225e+05,2.555250e+11,28775.000000,6.625000,5.625000,78.962500,1.191834e+07,1.745000,10.950000
max,1.707520e+07,2.362000e+12,58900.000000,12.000000,17.400000,83.510000,1.434203e+08,2.440000,44.000000

In [334]:
# várható élettartamról az európai országokban dobozdiagramm készítés
fig = px.box(european_data, y='life_exp', title='Várható élettartam az európai országokban')
fig.show(renderer='browser')

In [335]:
# korrelációs mátrix létrehozása
european_data.loc[:,:].corr()

,area,GDP,GDP_percapita,GDP_real_gr,inflation,life_exp,population,fertility,unemp
area,1.000000,0.322961,-0.127906,0.142265,0.327017,-0.310948,0.702542,-0.117929,-0.043626
GDP,0.322961,1.000000,0.224117,-0.251405,-0.075088,0.152408,0.824702,-0.097058,-0.090332
GDP_percapita,-0.127906,0.224117,1.000000,-0.565916,-0.537857,0.725047,-0.047524,0.042268,-0.401267
GDP_real_gr,0.142265,-0.251405,-0.565916,1.000000,0.534410,-0.658511,0.049447,0.024543,-0.001349
inflation,0.327017,-0.075088,-0.537857,0.534410,1.000000,-0.676664,0.273456,-0.099162,-0.121394
life_exp,-0.310948,0.152408,0.725047,-0.658511,-0.676664,1.000000,-0.174384,-0.114028,-0.138591
population,0.702542,0.824702,-0.047524,0.049447,0.273456,-0.174384,1.000000,-0.113643,-0.063737
fertility,-0.117929,-0.097058,0.042268,0.024543,-0.099162,-0.114028,-0.113643,1.000000,-0.021923
unemp,-0.043626,-0.090332,-0.401267,-0.001349,-0.121394,-0.138591,-0.063737,-0.021923,1.000000

In [336]:
fig2 = px.scatter(european_data, x='GDP_percapita', y='life_exp', trendline='ols', text='country', title='Várható élettartam és az egy főre jutó GDP kapcsolata') #pontdiagramm létrehozása
fig2.update_traces(textposition='top center') #szöveg a pont fölé kerüljön
fig2.update_layout(shapes=[
    dict(
      type= 'line',
      yref= 'y', y0= 75.549792, y1= 75.549792,
      xref= 'paper', x0= 0, x1= 1
    )
])#hozzáadok a diagrammhoz egy új vonalat, ami az átlagéletkort jelöli
fig2.show(renderer='browser')

In [337]:
european_data.loc[european_data['country']=='Hungary']

,country,area,GDP,GDP_percapita,GDP_real_gr,inflation,life_exp,population,fertility,unemp
17,Hungary,93030,149300000000,14900.0,3.9,7.0,72.4,10006835,1.32,5.9

In [338]:
# Magyarországnál alacsonyabb GDP-vel rendelkező országokat elnevezem "Other countries"-ként
european_data.loc[european_data['GDP'] < 149300000000, 'country'] = 'Other countries'
# european_data.groupby('country')['GDP'].sum()

In [339]:
# Kördiagrammon ábrázolom az Európai országok GDP eloszlását
fig3 = px.pie(european_data, values='GDP', names='country', title='Európa GDP eloszlása országok szerint')
fig3.show(renderer='browser')